---
import "@fontsource-variable/league-spartan";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nonima">
  <div class="container">
    <p class="title">nonima</p>
    <p class="subtitule">Hablemos de cultura</p>
  </div>
</Layout>

<style
lang="
scss"
>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  
   .title {
	font-size: 5rem;
  font-family: var(--heading-font);
  font-weight: 900;
  color: var(--black);
}

.subtitule {
  font-size: 1.5rem;
  font-family: var(--text-font);
  color: var(--green);
  

}

</style>
