---
const content = {
  whatText:
    "Se trata de encuentros con mujeres que hacen su aporte al mundo desde sus visiones de la cultura, el arte o simplemente visibilizan la riqueza del rol de la mujer en distintos ámbitos.",
  whyText:
    "Surgidos desde la necesidad de expresarnos, de escuchar experiencias reales, tangibles, cercanas; de manera presente, escuchando un interlocutor que nos cuente su experiencia, y siendo esto no un fin en sí mismo sino la puerta para abrirnos al debate, a promover el pensamiento crítico para que todos podamos mejorar nuestro desarrollo sociocultural.",
};

const { whatText, whyText } = content;
---

<section
  id={"what"}
  class="flex items-center bg-light-green py-4 px-64 gap-6"
 
>
  <p class="p-9 bg-opacity-20 w-1/2 bg-lighter-green rounded-3xl" data-aos="fade-right">{whatText}</p>
  <p class="p-9 bg-opacity-20 w-1/2 bg-lighter-green rounded-3xl" data-aos="fade-left">{whyText}</p>
</section>
