---
import { Image } from "astro:assets";
import bioImage from "../assets/images/coty.jpg";
import arrow from "../assets/images/arrow.svg";

const content = {
  authorBio:
    "Coty Schnass, egresada del Polivalente de Arte y Gestora Cultural por la UNMDP. Pasante en la Feria del Libro y voluntaria en Casa Bruzzone durante varios años. amante del arte y la cultura, recorrió diferentes museos del mundo admirando la belleza, pero también prestando atención a la organización que facilita tener grandes experiencias. Hoy, tras años de colaborar con otros, se anima a llevar adelante un proyecto propio, pero a la vez con el anhelo de convertirlo en algo compartido.",
};

const { authorBio } = content;
---

<section
  id={"about"}
  class="flex flex-col max-md:items-center bg-light-green py-4 px-64 max-sm:px-3 gap-6 max-sm:gap-2"
>
  <p class="font-bold">Quienes somos?</p>
  <div class="flex max-sm:flex-col items-center">
    <div class="w-1/2 max-sm:w-full" data-aos="flip-right">
      <Image
        class="object-cover rounded-3xl"
        src={bioImage}
        alt="imagen de biografía"
      />
    </div>
    <Image class="max-sm:rotate-90" src={arrow} alt={"right arrow"} />
    <div
      class="p-9 bg-opacity-20 bg-lighter-green rounded-3xl w-1/2 max-sm:w-full h-full flex items-center"
      data-aos="flip-left"
    >
      <p>
        {authorBio}
      </p>
    </div>
  </div>
</section>
