---
import { Image } from "astro:assets";
import bioImage from "../assets/images/coty.jpg";

const content = {
  instagram: "https://www.instagram.com/nonimamdq/",
  whatsapp:
    "https://api.whatsapp.com/send?phone=542235171352&text=Hola Constanzas, soy",
  mail: "nonimamdq@gmail.com",
};

const { instagram, whatsapp, mail } = content;
---

<section id={"contact"} class="flex items-center bg-light-green py-4 px-64 gap-6">
  <a href={instagram} target="_blank">instagram</a>
  <a href={whatsapp} target="_blank">whatsapp</a>
  <a href={"mailto:" + mail} target="_blank">{mail}</a>
</section>
