<section
  class="flex justify-between items-center gap-10 p-10 bg-light-green w-full"
>
  <p class="text-7xl font-heading font-extrabold">nonima</p>

  <div class="flex gap-3 font-semibold">
    <a href="#what ">Que somos?</a>
    <a href="#about">Quienes somos? </a>
    <a href="#contact">Contáctanos</a>
  </div>
</section>
