<section
  class="flex max-sm:flex-col justify-between items-center gap-10 max-sm:gap-5 p-10 max-sm:px-3 max-sm:py-8 bg-light-green w-full"
>
  <p class="text-7xl max-sm:text-5xl font-heading font-extrabold">nonima</p>

  <div class="flex gap-3 font-semibold">
    <a href="#what ">Que somos?</a>
    <a href="#about">Quienes somos? </a>
    <a href="#contact">Contáctanos</a>
  </div>
</section>
