<section
  class="flex justify-between items-center gap-10 p-10 bg-light-green w-full bg-light-green)]"
>
  <p class="text-7xl font-heading font-extrabold">nonima</p>

  <div>
    <a href="#what">Que es</a>
    <a href="#about">Quien</a>
    <a href="#contact">Contacto</a>
  </div>
</section>
