---
import '@fontsource-variable/league-spartan';

const content = {
  title: 'nonima',
  subtitle: 'Hablemos de cultura',
};

import Infoillustration from './Infoillustration.astro';
---

<div class="flex flex-col items-center justify-center h-fit">
  <section class="flex w-full flex-col">
    <div class="flex flex-col w-full gap-2">
      <div class="bg-light-violet w-full h-5"></div>
      <div class="bg-light-green w-1/2 h-2"></div>
    </div>
    <div class="flex justify-center items-center w-full gap-10 px-64 ">
  
        
     
      <div class="w-1/2">
        <Infoillustration />
      </div>
    <div class="w-2/4">
      <p class="text-4xl text-violet font-bold ">{content.subtitle}</p>
       </div>
    </div>

    <div class="flex flex-col w-full gap-2">
      <div class="bg-light-green w-1/2 h-2"></div>
      <div class="bg-light-violet w-full h-5"></div>
    </div>
  </section>
</div>
